---
layout: default
title: Homepage
---

<div class="stage stage--home">

</div>


<div class="about special-centered-for-small clearfix m-b-s-4">
	<div class="content__pull m-b-s-3">
		<div class="wrap">
<!-- 			<div class="about__picture">
				<div class="adam"></div>
			</div> -->

<!-- 			<p>Hey, my name is Adam Leith. I'm a Creative <strong>Web Developer</strong> and <strong>Designer</strong> currently living in
			{% for post in site.posts limit:1 %}
			<a class="link--external" href="{{post.locationLink}}{{post.city}} {{post.country}}"><span>{{post.city}}, {{post.country}}</span>
			</a>{% endfor %}.-->
			 

			 <p>Hey there, my name is Adam Leith, I develop <a href="/code.html" class="stage__text">websites</a> and dabble in <a href="/design.html" class="stage__text">design</a>. Do what you love right? Also, I attempt to <a href="/blog/index.html" class="stage__text">write.</a></p> 

<!-- 			<p> and I was/am in {% for post in site.posts limit:1 %}
			<a class="link--external" href="https://www.google.com/maps/place/{{post.locationLink}}{{post.city}} {{post.country}}"><span>{{post.city}}, {{post.country}}</span>
			</a>{% endfor %}. Originally from <a class="link--external" href="https://www.google.com/maps/place/Montreal,+QC,+Canada/@45.5601451,-73.7120832,11z/data=!3m1!4b1!4m2!3m1!1s0x4cc91a541c64b70d:0x654e3138211fefef"><span>Montreal, Canada,</span></a> I'm traveling all over the world.</p> -->

			<p>I'm <span class="span--work">available</span> for contract work. <a href="mailto:adamleithp@me.com" target="_blank" class="link--external">Contact me.</a></p>

<!-- <p>I'm <span class="span--work span--work--no">unavailable :(</span> for contract work. Currently on a sabbatical traveling the world.<a href="mailto:adamleithp@me.com" target="_blank" class="link--external"> Contact me.</a></p>
 -->		</div>
	</div>
</div>
