---
layout: default
title: Blog List
---

<!-- Blog list page -->
<!-- All of your posts in a list -->


<div class="special-centered-for-small">


    <!-- Page Header -->
    <h1>Blog Page</h1>
    <hr>


    <!-- Blog List -->
    <ul>

        {% for post in paginator.posts %}
            <li>
                <div>

                    <a href="{{ post.url }}">
                        <h3>{{ post.title }}</h3>
                        
                        <p>{{ post.date | date_to_string }}</p>
                        <p>{{ post.excerpt | strip_html | truncatewords:20}}</p>
                    </a>
                    
                </div>
            </li>
            <hr>
        {% endfor %}

    </ul>

    <!-- Page List Pagination -->

    {% if paginator.total_pages > 1 %}
        <h5>Pagination</h5>
        <hr>
        <div class="pagination--page">
            <p>
                {% if paginator.previous_page %}
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
                {% else %}
                    <span>&laquo; Prev</span>
                {% endif %}

                {% for page in (1..paginator.total_pages) %}
                    {% if page == paginator.page %}
                        <em>{{ page }}</em>
                    {% elsif page == 1 %}
                        <a href="{{ '/blog/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                    {% else %}
                        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}

                {% if paginator.next_page %}
                    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
                {% else %}
                    <span>Next &raquo;</span>
                {% endif %}
            </p>
        </div>
    {% endif %}

</div>
