---
layout: blog_page
title: Talking
---

{% for post in paginator.posts %}
    <li>
        <div class="blog__item">
            <a href="{{ post.url }}">
                <h4 class="title">{{ post.title }} <small class="blog__item__location text--grey">in {{post.city}}, {{post.country}}</small></h4>
            </a>

            <p class="item__info">{{ post.date | date_to_string }}</p>
            <p>{{ post.excerpt | strip_html | truncatewords:20}}</p>
            <hr class="show-for-small">
        </div>
   </li>
{% endfor %}

{% if paginator.total_pages > 1 %}
<hr>
<div class="pagination">
    <p>
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pageination__link">&laquo; Prev</a>
        {% else %}
            <span class="pageination__link">&laquo; Prev</span>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
            <em class="pageination__link">{{ page }}</em>
        {% elsif page == 1 %}
            <a href="{{ '/blog/index.html' | prepend: site.baseurl | replace: '//', '/' }}" class="pageination__link">{{ page }}</a>
        {% else %}
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="pageination__link">{{ page }}</a>
        {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pageination__link">Next &raquo;</a>
        {% else %}
            <span class="pageination__link">Next &raquo;</span>
        {% endif %}
    </p>
</div>
{% endif %}
