// Variables

$img: '../images/';
//background: url("#{$img}logo.png");

// Colors
$overlay-bg-color: #fff;




// Utility Classes
/////////////////////////////////////////

.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}
.hardware {
    @include vendor(transform, translate3d(0,0,0));
}
.cf {
    zoom: 1;
    &:before,
    &:after {
        display: block;
        overflow: hidden;

        height: 0;

        content: '\0020';
    }
    &:after {
        clear: both;
    }
}

// Typography
/////////////////////////////////////////

// Font Styles
.text--serif {
    font-family: Georgia, serif !important;
}
.text--italic {
    font-style: italic;
}
.text--uppercase {
    text-transform: uppercase;
}
.text--lowercase {
    text-transform: lowercase !important;
}
.text--underline {
    text-decoration: underline;
}
.text--reset {
    text-decoration: none;
}
.text--no-break {
    white-space: nowrap;
}
.text--link {
    text-decoration: underline;
}
a {
    text-decoration: underline;
    outline: 0;

    &:focus {
        outline:thin dotted #ccc;
    }

}
h6,
h5,
h4,
h3,
h2,
h1,
body,
.button {
    font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
}
h6,
h5,
h4,
h3,
h2,
h1 {
    font-weight: 700;
    font-style: normal;
}
p {
    color: #595d5f;
    @media #{$medium-up} {
        font-size: 1.1rem;
    }
    a {
        text-decoration: underline;
    }
}


// Lists
/////////////////////////////////////////
ul {
    margin: 0;

    list-style: none;
}


// Grid
/////////////////////////////////////////
.special-centered-for-small {
    @media #{$small-only} {
        max-width: 400px;
        margin: 0 auto;
    }
}




// Body
/////////////////////////////////////////
body,
html {
    height: 100%;
}
body {
    overflow-x: hidden;

    background: #fff;
}
// Header
/////////////////////////////////////////

header {
    position: fixed;
    z-index: 1;
    bottom: 0;

    overflow-y: scroll;

    width: 100%;
    height: 50%;
    display: none;

    background: #fff;
    border-top: 1px solid #cacaca;

    @media #{$medium-up} {
        display: block !important;

        background: none;
        position: relative;
        float: left;

        overflow: visible;

        height: 100%;
        width: 5rem;

        border:none;
    }
}
    .header__list {
        width: 100%;
        left: 0;
        padding: 2rem 0;
        height: 100%;
        position: absolute;
        overflow-y: scroll;

        @media #{$medium-up}
        {
            display: inline-block;
            position: relative;
            height: auto;
            padding: 0;
        }
        a {
            display: block;
        }
    }

.mobile-button {
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 3rem;
    text-decoration: none;
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 0;
    display: none;
    height: 3em;
    width: 3em;

    @include vendor(transition,all .2s .2s ease-out);

    @media #{$medium-up} {
        right: inherit;
        left: 1rem;

        display: none !important;

        padding: 0rem .6rem;

        &.active
        {
            display: none;
        }
    }
    &:hover {
        text-decoration: none;

        .burger {
            background: #555;
        }
    }
    &.active {
        display: block;
    }
    &.open {
        .burger--1 {
            @include vendor(transform,rotate(45deg) translateX(0.4em) translateY(0.4em));
        }
        .burger--2 {opacity: 0;}
        .burger--3 {
            @include vendor(transform,rotate(-45deg) translateX(0.3em) translateY(-0.3em));
        }
    }
}
    .burger {
        @include vendor(transition,all .2s .2s ease-out);
        transform-origin: center;
        width: 100%;
        height: 0.3em;
        margin-top: 0.2em;
        background: #000;
        display: block;
        border-bottom: 1px solid #fff;
        @extend .hardware;

        &:first-child {
            margin-top: 0;
        }
    }

// Overlays
/////////////////////////////////////////
.overlay {
    position: fixed;
    z-index: 400;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    background: $overlay-bg-color;
    @extend .hardware;
}
.overlay--loading {
    display: block;

    @extend .overlay;
}
.overlay--menu {
    background: rgba(0,0,0,.4);
    z-index: 0;

     @media #{$medium-up} {
        display: none !important;
     }
}



// Content
/////////////////////////////////////////

$tablet-medium-up: '#{$screen} and (min-width: #{rem-calc(1100)})';
$tablet-large-up: '#{$screen} and (min-width: #{rem-calc(1400)})';

.content {
    opacity: 1;

    @extend .hardware;
    @include vendor(transition,all .2s ease-out);

    
    
    @media #{$medium-up} {
        max-width: 75%; 
    }  
    @media #{$large-up} {
        max-width: 70%; 
    }  
    @media #{$tablet-medium-up} {
        max-width: 800px; 

    }  
    @media #{$tablet-large-up} {
        max-width: 900px; 
    }
           
}







