// Variables

$img: '../images/';
//background: url("#{$img}logo.png");

// Colors
$overlay-bg-color: #fff;




// Utility Classes
/////////////////////////////////////////

.inline {
    display: inline;
}
.inline-block {
    display: inline-block;
}
.hardware {
    @include vendor(transform, translate3d(0,0,0));
}
.cf {
    zoom: 1;
    &:before,
    &:after {
        display: block;
        overflow: hidden;

        height: 0;

        content: '\0020';
    }
    &:after {
        clear: both;
    }
}

// Typography
/////////////////////////////////////////

// Font Styles
.text--serif {
    font-family: Georgia, serif !important;
}
.text--italic {
    font-style: italic;
}
.text--uppercase {
    text-transform: uppercase;
}
.text--lowercase {
    text-transform: lowercase !important;
}
.text--underline {
    text-decoration: underline;
}
.text--reset {
    text-decoration: none;
}
.text--no-break {
    white-space: nowrap;
}
.text--link {
    text-decoration: underline;
}
h6,
h5,
h4,
h3,
h2,
h1,
body,
.button {
    font-family: "nimbus-sans",sans-serif;
    color:#878585;
}
h6,
h5,
h4,
h3,
h2,
h1,
strong {
    font-style: normal;
    color:#545454;
}
p {
    font-weight: 300;
    @media #{$medium-up} {
        font-size: 1.1rem;
    }
    a {
        text-decoration: underline;
    }
}

// Links
/////////////////////////////////////////
a {
    text-decoration: underline;
    outline: 0;

    &:focus {
        outline:thin dotted #fafafa;
    }

}

// Lists
/////////////////////////////////////////
ul {
    margin: 0;

    list-style: none;
}


// Grid
/////////////////////////////////////////
.row--max {
    @media #{$small-only} {
        max-width: 26.5rem !important;
        margin: 0 auto;
        position: relative;
    }
}
.row--xsmall {
    @extend .row;
    max-width: 33rem;
}



// Body
/////////////////////////////////////////
body,
html {
    height: 100%;
}
body {
    overflow-x: hidden;

    background: #fff;
}


// Overlays
/////////////////////////////////////////
.overlay {
    position: fixed;
    z-index: 400;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    background: $overlay-bg-color;
    @extend .hardware;
}
.overlay--loading {
    display: block;

    @extend .overlay;
}



$color--text-light: #ddd;
$color--text-dark: #8E8E8E;
$color--text-darker: #444;





.button {
    padding: 1rem 0;
    width: 100%;
    background: none;

    span {
        background: #fff;
        padding:.1rem 1rem;
        z-index: 1;
        color: #878585;
    }
    hr {
        position: relative;
        top: -0.5rem;
        width: 75%;
        margin: 0 auto;
        @include vendor(transition, all .3s linear);
    }
    span, hr {
        position: relative;

        cursor: pointer;
        @include vendor(transition, all .3s linear);
    }
    &.button--active {
        span {
            color: $color--text-darker
        }
        hr {
            border-color:  $color--text-darker;
        }

    }
    &:hover {
        span, {
            color: $color--text-darker;
        }
        hr {
            width: 85%;
            border-color: $color--text-dark;
        }
    }
    &:hover, 
    &:active, 
    &:focus {
        background: none;
    }
    &.touch {

    }
}


// Stage
/////////////////////////////////////////
.stage {
    padding: 22.5rem 0;
    // @include vendor(transition, all .3s linear);
}

// About
/////////////////////////////////////////
.about {
    position: relative;
    background: #fff;
    z-index: 1;
}
    
    .content {
        overflow: hidden;
        max-height: 14.2rem;
        position: relative;
        @include vendor(transition, all .3s linear);

        img {
            max-width: 100%;
            margin: 1rem 0 2rem;
        }
        @media #{$medium-up} {
            max-height: 12.5rem;
        }
        
    }
    .content__text {
        padding-bottom: 3rem;
    }
        .text--status {
            color:rgb(94, 197, 94);
        }
    .content__open {
        .content__button--plus {
            display: none;
            
        }
        .content__button--minus {
            display: inline-block;
            line-height: 1.7rem;
        }
    }

    .content__button {
        text-align: center;
        width: 100%;
        position: absolute;
        left: 0;
        height: 2rem;
        right: 0;
        bottom: 0;
        cursor: pointer;
        padding-top: 1rem;

        @include vendor(transition, all .1s linear);
        box-shadow: inset 0px -25px 25px 0px #fff;
        box-shadow: inset 0px -25px 25px 0px rgba(255, 255, 255, 0.88);

        &:hover {
            span {
                color:$color--text-darker;
                border:1px solid $color--text-dark;
                opacity: 1;
            }
            hr {
                border-color: $color--text-dark;
                width: 80%;
            }
        }
        hr {
            width: 75%;
            margin: 0 auto;
            top: -1rem;
            position: relative;
            border-color: $color--text-light;
            @include vendor(transition, all .3s linear);
        }
        span {
            font-size: 1rem;
            font-weight: 700;
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            line-height: 2rem;
            //margin-left: -1rem;
            background:#fff;
            border:1px solid $color--text-light;
            color:$color--text-dark;
            @include vendor(transition, all .3s linear);
            z-index: 2;
            position: relative;

        }
    }
        .content__button--minus {
            display: none;
        }
        .content__button--plus {
            display: inline-block;
            font-size: 1.7rem !important;
        }

    

// Projects
/////////////////////////////////////////
.projects {
    
}
.projects__list {
    li {
        display: inline-block;
        width: 33%;
        float: left;
    }
    .button {
        hr {
            width: 100%;
        }
    }
}

.project__item {
    overflow: hidden;
    padding: 10rem 0 5rem;
    border-bottom: 1px solid $color--text-light;

    img {
        border: 1px solid $color--text-light;

        &:nth-child(2n) {
            border-top: 0;
        }

    }
    .wide {
        @media #{$small-only} {
            margin: 0px -34%;
            max-width: 170%;
        }
    }
}

.projects--all {}


.projects--web {
    display: none;
}


.projects--branding {
    display: none;
}





// Used for Grabber

// .projects {
//     position: relative;
// }

// .row--full {
//     max-width: 100%;
// }

// #grabber {
//     width: 100%;
//     height: 1400px;
//     position: relative;
//     /* Disable selection so it doesn't get annoying */
//     -webkit-touch-callout: none;
//     -webkit-user-select: none;
//     -khtml-user-select: none;
//     -moz-user-select: moz-none;
//     -ms-user-select: none;
//     user-select: none;
// }
// #grabber__left {
//     position: absolute;
//     left: 0;
//     top: 0;
//     bottom: 0;
//     right: 100px;
// }
// #grabber__right {
//     position: absolute;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     width: 20%;
// }
// #grabber__handle {
//     position: absolute;
//     left: -4px;
//     top: 0;
//     bottom: 0;
//     width: 8px;
//     cursor: w-resize;
//     background:#333;
// }
// .grabber__iframe {
//     width: 100%;
//     height: 100%;
// }
// .iframe--overlay {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     left: 0;
//     top:0;
//     right:0;
//     bottom:0;
//     z-index: 999;
// }






