---
layout: default
---
	
	<div class="post">

		<div class="stage__content">


			<img src="{{page.image}}" alt="" class="stage__img" id="stage__img"/>

			<div class="columns small-12 medium-10 large-9 medium-centered m-t-s-1">
				<section class="post__title--wrap clearfix">
					<h2 class="stage__text post__title post__title--masked">{{page.title}}</h2>
					<h4 class="text--light">{{page.sub}}</h4>


					<ul class="list--stage list--inline">
						<li>
							<a href="#">
								<i class="icon fa fa-clock-o"></i>
								<span>When: {{ page.date | date_to_string }} </span>
							</a>
						</li>
					
						<li>
							<a href="{{page.locationLink}}{{page.city}} {{page.country}}">
								<i class="icon fa fa-flag"></i>
								<span>{{page.city}}, {{page.country}}</span>
							</a>	
						</li>
					</ul>

					<hr class="small-3">
					<a class="small-12 columns stage__text post__info" href="#"></a>
				</section>
			</div>
		</div>
		<div class="columns small-12 medium-10 large-9 medium-centered post__content">
			{{ content }}
		</div>
	</div>
