<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>{% if page.title %} {{ page.title }} {% endif %} - AdamleithP</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- responsive site -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <!-- chrome frame -->
		<link rel="author" href="humans.txt">
		<meta name="description" content="Description Goes Here">

		<link rel="stylesheet" href="/assets/styles/app.css">	
		<link href='http://fonts.googleapis.com/css?family=Cabin:500italic' rel='stylesheet' type='text/css'>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

	    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">

		<link rel="shortcut icon" href="ico/favicon.png">	   

		<script src='/assets/js/modernizr.js'></script> 
		<script type="text/javascript" src="//use.typekit.net/ura7vqi.js"></script>
		<script type="text/javascript" src="/assets/js/instafeed.min.js"></script>
		 <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


		
	</head>
	<body class="{{page.color}}">
	<nav class="row">
		<header>
			<div class="small-12 columns">
				<ul class="m-t-m-4 m-b-m-2">
	                <li><a href="/index.html" class=" small-12 logo stage__text text--cursive"><div class="icon-logo"></div></a></li>
	            </ul>
	            <ul>
	                <li><a href="/index.html" class="nav__link stage__text">Home</a></li>
	                <li><a href="/blog.html" class="nav__link stage__text">Thoughts</a></li>
	                <li><a href="/work.html" class="nav__link stage__text">Projects</a></li>
	                <li><a href="/photos.html" class="nav__link stage__text">Photos</a></li>
	                <li><a href="mailto:adamleithp@me.com" target="_blank" class="nav__link stage__text contact__link">Contact</a></li>
	            </ul>
			</nav>
		</header>
	</nav>
	<div class="content row">
		{{ content }}
	
		<!-- <footer>
			<nav>
				<div class="small-12 columns">
					<ul class="left inline-list">
		                <li class="footer__text copyright">Copyright © {{ site.time | date: '%Y' }}</li>
		            </ul>
		            <ul class="right inline-list">
		                <li><a href="/index.html" class="nav__link footer__text">Home</a></li>
		                <li><a href="/blog.html" class="nav__link footer__text">Thoughts</a></li>
		                <li><a href="/work.html" class="nav__link footer__text">Projects</a></li>
		                <li><a href="/photos.html" class="nav__link footer__text">Photos</a></li>
		                <li><a href="mailto:adamleithp@me.com" target="_blank" class="nav__link footer__text contact__link">Contact</a></li>
		            </ul>
		       	</div>
			</nav>
		</footer> -->
	</div>

	<script src='/assets/js/jquery.js'></script>
	<script src='/assets/js/foundation.min.js'></script>
	<script src='/assets/js/adamleithp.min.js'></script>
	
	<script type="text/javascript">
		var feed = new Instafeed({
		  clientId: '74a17d9248404011a3b4b9b86a81e610',
		  limit: 20,
		  sortBy: 'most-liked',
		  after: function () {
		    var images = $("#instafeed").find('a');
		    $.each(images, function(index, image) {
		      var delay = (index * 75) + 'ms';
		      $(image).css('-webkit-animation-delay', delay);
		      $(image).css('-moz-animation-delay', delay);
		      $(image).css('-ms-animation-delay', delay);
		      $(image).css('-o-animation-delay', delay);
		      $(image).css('animation-delay', delay);
		      $(image).addClass('animated flipInX');
		    });
		  },
		  template: '<a href="{{link}}" target="_blank"><img src="{{image}}" /><div class="likes">&hearts; {{likes}}</div></a>'
		});
		feed.run();
	</script>


	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-48756166-1', 'adamleithp.github.io');
	  ga('send', 'pageview');
    </script>	
	</body>
</html>